.grid.skills
    .header
        h1(data-i18n='skills')
    .grid.body.3column
        .core-skills
            .row.categoryHeader
                +skillCategoryHeader('communication')
                +brpPercentValue('communication')

            each val in skillsCommunication
                .row.col-3(class=`${val} ${classNotation}`)
                    +checkboxInput(`${val} check`)
                    +d100RollButton(val)
                    +numberInput(val)

            .repeating-container
                fieldset(class='repeating_communication_skills')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +repeatingd100RollButton('skill')

            .row.categoryHeader
                +skillCategoryHeader('manipulation')
                +brpPercentValue('manipulation')

            each val in skillsManipulation
                .row.col-3(class=`${val} ${classNotation}`)
                    +checkboxInput(`${val} check`)
                    +d100RollButton(val)
                    +numberInput(val)

            .repeating-container
                fieldset(class='repeating_manipulation_skills')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +repeatingd100RollButton('skill')                        

        .core-skills

            .row.categoryHeader
                +skillCategoryHeader('mental')
                +brpPercentValue('mental')

            each val in skillsMental
                .row.col-3(class=`${val} ${classNotation}`)
                    +checkboxInput(`${val} check`)
                    +d100RollButton(val)
                    +numberInput(val)

            .repeating-container
                fieldset(class='repeating_mental_skills')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +repeatingd100RollButton('skill')     

            .row.categoryHeader
                +skillCategoryHeader('perception')
                +brpPercentValue('perception')

            each val in skillsPerception
                .row.col-3(class=`${val} ${classNotation}`)
                    +checkboxInput(`${val} check`)
                    +d100RollButton(val)
                    +numberInput(val)

            .repeating-container
                fieldset(class='repeating_perception_skills')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +repeatingd100RollButton('skill')  

        .core-skills

            .row.categoryHeader
                +skillCategoryHeader('physical')
                +brpPercentValue('physical')

            each val in skillsPhysical
                .row.col-3(class=`${val} ${classNotation}`)
                    +checkboxInput(`${val} check`)
                    +d100RollButton(val)
                    +numberInput(val)

            .repeating-container
                fieldset(class='repeating_physical_skills')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +repeatingd100RollButton('skill')  

            .row.categoryHeader
                +skillCategoryHeader('combat')
                +brpPercentValue('combat')

            each val in skillsCombat
                .row.col-3(class=`${val} ${classNotation}`)
                    +checkboxInput(`${val} check`)
                    +d100RollButton(val)
                    +numberInput(val)

            .repeating-container
                fieldset(class='repeating_combat_skills')
                    .row
                        +checkboxInput(`check`)
                        +textInput('name')
                        +numberInput('skill')
                        +repeatingd100RollButton('skill')  

            .row.categoryHeader
                +skillCategoryHeader('experience bonus')
                +brpPercentValue('experience_bonus')
